{% extends "base.html" %}
{% block title %}Confirm Team{% endblock %}

{% block content %}
<h1>Create New Assessment</h1>

<h2>Step 2/3: Set Up Team Member Info</h2>

<section class="container--narrow">

  <h3>{{ team.name }} - {{ deadline|date:"F Y" }}</h3>

  <hr>
  <br>

  <!-- Includes table + add/delete forms -->
  <p><strong>Enter or update all team member names and emails.</strong> You can add or delete team members 
    as needed, then hit Continue below to confirm all information before launching the assessment.</p>
  <p>Team members will not be notified until you launch the assessment.</p>
</section>

  {% include "teams/_member_table.html" with team=team use_htmx=True %}

  <hr>

  <form method="post" style="margin-bottom:1rem">
    {% csrf_token %}
    <button class="button button--secondary" name="back_to_new" value="1">← Back to Basic Info</button>
    <button class="button button--secondary" type="submit" name="confirm_team_done" value="1">Continue</button>
  </form>
{% endblock %}