{% extends "base.html" %}
{% block title %}Confirm Team{% endblock %}

{% block content %}
<h1>Create New Assessment</h1>

<h2>Step 2/3: Set Up Assessment</h2>

<section class="container--narrow">

  <p>You are launching the assessment:<br><strong>{{ team.name }} - {{ deadline|date:"F Y" }}</strong></p>

  <br>

  <!-- Includes table + add/delete forms -->
  <p><strong>Confirm team member names and emails.</strong> You can add or delete team members 
    as needed, then hit Continue below to confirm all information before launching the assessment.
  </p>
</section>

  {% include "teams/_member_table.html" with team=team %}

  <hr>

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="confirm_team_done" class="button--secondary">Continue</button>
  </form>
{% endblock %}