{% extends "base.html" %}
{% block title %}Confirm Assessment Launch{% endblock %}

{% block content %}
<h1>Create New Assessment</h1>

<h2>Step 3/3: Confirm and Launch</h2>

<section class="container--narrow">

    <h3>{{ assessment_preview.team_name }} - {{ assessment_preview.deadline|date:"F Y" }}</h3>
    <br>

    <p>Participating team members:</p>
    <ul>
        {% for member in members %}
            <li>{{ member.name }} ({{ member.email }})</li>
        {% endfor %}
    </ul>
    <br>

    <p>The target date you’ll request team members submit by is:</p>
    <p><strong>{{ assessment_preview.deadline|date:"F j, Y" }}</strong></p>
    <br>

    <p>Once you click Launch below, each team member will receive an email with a unique 
        link to complete their assessment and some basic instructions. </p>
    <p>You can preview this invitation email if you'd like, but it is not editable. We
        recommend communicating with your team separately to introduce the assessment
        and provide other details if that hasn't yet been discussed.</p>
    </p>
    <p>As team members submit their responses, you will receive an update email.</p>

    <div class="notice">
        <p>NOTE: After launching this assessment, you will not be able to add or edit any of the information you have entered. Please double check participant names and emails carefully.</p>
    </div>

    <br>

    <form method="post" class="element--actions-row">
        {% csrf_token %}
        <button class="button button--secondary" name="edit_basics" value="1">
            Edit Basics
        </button>
        <button class="button button--secondary" name="edit_team_members" value="1">
            Edit Team Members
        </button>
        <button class="button button--primary" name="launch_assessment" value="1">
            Launch Assessment
        </button>
    </form>
</section>
{% endblock %}