{% extends "base_auth.html" %}
{% block title %}Choose a new password | Ascent Assessment{% endblock %}

{% block content %}
  <h1 class="text-center">Choose a new password</h1>

  <form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>
      <label for="{{ form.new_password1.id_for_label }}">New password</label>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        <span class="form-error is-visible">{{ form.new_password1.errors|striptags }}</span>
      {% endif %}
    </p>

    <p>
      <label for="{{ form.new_password2.id_for_label }}">Confirm new password</label>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <span class="form-error is-visible">{{ form.new_password2.errors|striptags }}</span>
      {% endif %}
    </p>

    <button type="submit" class="button button--primary full-width">Update password</button>
  </form>
{% endblock %}