{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="main-heading">
  <h1>Dashboard</h1>
  <a href="{% url 'new_assessment' %}" class="button--primary">New Assessment</a>
</div>

<div class="dashboard-grid">
  {% include "dashboard/includes/recent_assessments.html" %}
  <div class="dashboard-bottom">
    {% include "dashboard/includes/teams_list.html" %}
    {% include "dashboard/includes/reports_list.html" %}
  </div>
</div>
{% endblock %}