{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Account Sign In | Ascent Assessment{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="public-page">
    <div class="page-wrapper">
        <main class="auth-container">
            <div class="auth-box">
                <div class="auth-logo">
                    <img src="{% static 'images/logo-square.png' %}" alt="Ascent Assessment Logo">
                </div>
                {% block content %}{% endblock %}
            </div>
        </main>
        {% include "includes/footer.html" %}
    </div>
</body>
</html>