{% load static %}
{% load tz %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign up</a></p>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Team Assessment Tool{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="/">Team Assessment Tool</a></h1>
        <nav>
            <a href="{% url 'dashboard_home' %}">Dashboard</a> |
            <a href="{% url 'team_list' %}">Teams</a> |
            <a href="{% url 'generate_report' %}">Get Report</a>
        </nav>
        <hr>
    </header>

    <main class="content-container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>© {{ now|date:'Y' }} Questadon</p>
    </footer>
</body>
</html>