{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Ascent Assessment{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="public-page">
  <div class="page-wrapper">

    <header class="public-header">
      <img src="{% static 'images/logo-full.png' %}" alt="OrgHealth Ascent Assessment Logo" class="public-header-logo" />
    </header>

    <main class="public-container">
      <div class="public-box">
        {% block page_heading %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="public-footer">
      &copy; {% now "Y" %} Ascent Assessment, a product of <a href="https://www.orghealthteam.com/ascent" target="blank">OrgHealth</a>.
    </footer>

  </div>

  {% block extra_scripts %}{% endblock %}
</body>
</html>