<div class="dashboard-section">
  <div class="section-header">
    <h2>Recent Assessments</h2>
    <a href="{% url 'new_assessment' %}" class="unstyled-link">See All</a>
  </div>

  {% if assessments_data %}
    <div class="assessment-cards">
      {% for item in assessments_data %}
        <div class="card">
          <div class="card-header">
            <h3>{{ item.team.name }} – {{ item.assessment.deadline|date:"F Y" }}</h3>
            <p class="para-small">{{ item.complete }} of {{ item.total }} submitted</p>
          </div>
          <ul class="table-list">
            {% for p in item.participants %}
                <li class="table-row {% if not p.has_submitted %}incomplete{% endif %}">
                <span class="row-left">{{ p.team_member.name }}</span>
                <span class="row-right">
                    <i 
                        data-lucide="{% if p.has_submitted %}circle-check{% else %}circle-x{% endif %}" 
                        class="status-icon {% if not p.has_submitted %}incomplete{% endif %}">
                    </i>
                </span>
                </li>
            {% endfor %}
            </ul>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No assessments yet. <a href="{% url 'new_assessment' %}">Start a new one</a>.</p>
  {% endif %}
</div>