<div class="dashboard-section">
  <div class="section-header">
    <h2>Recent Assessments</h2>
    <a href="{% url 'assessments:assessments_overview' %}" class="unstyled-link">See All</a>
  </div>

  {% if assessments_data %}
    <div class="assessment-cards">
      {% for item in assessments_data %}
        <div class="card">
          <div class="card-header">
            <h3>{{ item.team.name }} – {{ item.assessment.deadline|date:"F Y" }}</h3>
            <p class="para-small">{{ item.complete }} of {{ item.total }} submitted</p>
          </div>
          <ul class="table-list">
            {% for p in item.participants %}
                <li class="table-row {% if not p.has_submitted %}incomplete{% endif %}">
                <span class="row-left">{{ p.team_member.name }}</span>
                <span class="row-right">
                    <i 
                        data-lucide="{% if p.has_submitted %}circle-check{% else %}circle-x{% endif %}" 
                        class="status-icon {% if not p.has_submitted %}incomplete{% endif %}">
                    </i>
                </span>
                </li>
            {% endfor %}
            </ul>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h3>Welcome!</h3>
    <p><strong>To get started, click the "New Assessment" button above.</strong> It will 
      guide you through the three steps to launch your first assessment.</p>
    <ol>
      <li>Choose the name of the team that will be participating and the date by which you
        need their responses submitted.</li>
      <li>Add the names and email addresses of the team members.</li>
      <li>Confirm the information is correct, and hit Launch!</li>
      </ol>
    <p>An overview of the assessments you've launched will appear here afterwards.</p>
    <p>When your responses are all in, you'll be able to purchase the final report on the Assessments page.</p>
  {% endif %}
</div>