{% load static %}

<div class="dashboard-section">
    <div class="section-header">
        <h2>Reports</h2>
        <a href="{% url 'reports:reports_overview' %}" class="unstyled-link">See All</a>
    </div>
    <div class="card">
        {% if reports %}
            <ul class="table-list">
                {% for report in reports|slice:":6" %}
                    <li class="table-row">
                        <span class="row-left">
                            {{ report.assessment.pretty_name }}
                        </span>
                        <span class="row-right">
                            <a
                                href="{% url 'reports:download_report' report.id %}"
                                class="row-button"
                                target="_blank"
                                rel="noopener"
                            >Download</a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% if reports|length > 6 %}
                <div class="list-gradient" aria-hidden="true"></div>
            {% endif %}
        {% else %}
            <p>Reports you've purchased will show up here.</p>
            <p>For a preview of what to expect, download this <a href="{% static 
                'documents/sample-final-report-preview.pdf' %}" target="_blank">partial 
                sample report</a>.</p>
            <p class="helptext">Generating a report closes an assessment; once all 
                participants have submitted their responses, purchase the final report 
                in the Assessments section.</p>
        {% endif %}
    </div>
</div>